.signin {
	grid-row: content-s/content-e;
	grid-column: s/e;

	&__form {
		display: grid;
		grid-template-rows:
			[email-s] 64px [email-e password-s] 64px [password-e info-s] 20px[info-e]minmax(
				20px,
				50px
			)
			[line-s] 2px [line-e login-s] 38px [login-e];
		grid-template-columns: 1fr;
	}
}

.signin-form {
	&__email {
		grid-row: email-s/email-e;
	}
	&__password {
		margin-top: 15px;
		grid-row: password-s/password-e;
	}
	&__info {
		margin-left: 5px;
		margin-top: 15px;
		grid-row: info-s/info-e;
	}

	&__line {
		border-top: 1px solid #ccc;
		grid-row: line-s/line-e;
	}
	&__login {
		grid-row: login-s/login-e;
	}
}
