.form-input {
	display: grid;
	grid-gap: 6.5px;

	& > * {
		padding-left: 20px;
	}

	&__label {
		font-size: 14px;
	}
	&__input {
		box-sizing: border-box;
		font-family: 'Glory';
		height: 39px;
		width: 440px;
		border: 1px solid #e6e6e6;
		border-radius: 5px;
		color: #333333;
		font-size: 18px;
	}
}

.form-button {
	&__button {
		height: 38px;
		width: 280px;
		border-radius: 5px;
		background-color: $light-blue;
		border: none;
		font-family: 'Glory';
		transition: all 0.4s
			ease-out;
		cursor: pointer;
		&:hover {
			background-color: $main-blue;
		}
		&:active {
			background-color: red;
		}

		font-size: 16px;
		color: white;

		&:focus {
			outline: none;
		}
	}
}

.form-button-long-gray {
	display: grid;
	gap: 6.5px;

	&__button {
		height: 38px;
		width: 280px;
		border-radius: 5px;
		background-color: $light-blue;
		border: none;
		font-family: 'Glory';
		transition: all 0.4s
			ease-out;
		cursor: pointer;
		&:hover {
			background-color: $main-blue;
		}
		&:active {
			background-color: yellow;
		}

		font-size: 16px;
		color: white;

		&:focus {
			outline: none;
		}
	}
	&__label {
		font-size: 14px;
	}
}
.form-button-long-password {
	display: grid;
	gap: 6.5px;

	&__button {
		height: 38px;
		width: 215px;
		border-radius: 5px;
		background-color: $light-blue;
		border: none;
		font-family: 'Glory';
		transition: all 0.4s
			ease-out;
		cursor: pointer;
		&:hover {
			background-color: $main-blue;
		}
		&:active {
			background-color: yellow;
		}

		font-size: 16px;
		color: white;

		&:focus {
			outline: none;
		}
	}
	&__label {
		font-size: 14px;
	}
}
