.header {
	display: grid;
	justify-content: center;
	grid-column: 1/-1;
	background-color: $main-blue;

	&__img {
		align-self: center;
		padding-bottom: 1px;
		height: 35px;
		width: 70px;
	}
}

.navbar {
	grid-column: 1/-1;
	background-color: $light-blue;
	box-shadow: 0 2px 6px 0
		rgba(0, 0, 0, 0.2);
}
