.home__products-main {
	display: flex;

	&-wrapper-title {
		margin-bottom: 20px;
		color: $title;
	}

	.home__products-main-wrapper-products {
		z-index: 1;
		display: flex;
		width: 1040px;
		overflow: hidden;

		.products-box {
			padding-right: 21px;
			&__main {
				overflow: hidden;
				width: 191px;
				height: 240px;
				background-color: $off-white;

				border-radius: 7px;

				&-item {
					text-decoration: none;
					color: $main-black;

					&-wrapper {
						height: 200px;
						&__info {
							display: grid;
							&-brand,
							&-price {
								padding-left: 2px;
							}
							&-brand {
								font-size: 1.8rem;
							}
							&-price {
								font-size: 1.5rem;
							}
						}
					}
				}
			}
		}
	}
}
