.home__products-main {
	display: flex;

	&-wrapper-title {
		margin-bottom: 20px;
		color: $title;
	}

	.home__products-main-wrapper-products {
		z-index: 1;
		display: flex;
		width: 1020px;
		overflow: scroll;

		.products-box {
			padding-right: 16px;
			&__main {
				position: relative;
				width: 191px;
				background-color: $off-white;

				border-radius: 7px;
				overflow: hidden;
			}
		}
	}
}
